@font-face {
    font-family: "chemi fonti";
    src: url("OldStandardTT-Regular.ttf");
}
h2 {
    font-family: "chemi fonti";
    
 }

 p {
    font-family: "chemi fonti" ;
    padding-bottom: 
    
 }